# Python virtual environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]

# SQLite database (optional)
*.db

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# Specific files
streak.json
